In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
dataset=pd.read_csv("Insurance_pre.csv")
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=dataset['charges']

In [12]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [ ]:
#from sklearn.model_selection import train_test_split
#X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [ ]:
    #from sklearn.preprocessing import StandardScaler
    #sc=StandardScaler()
    #X_train=sc.fit_transform(X_train)
    #X_test=sc.fit_transform(X-test)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid={'kernel':[ 'poly', 'rbf', 'sigmoid'],
            'C':[10,100,1000,2000,3000],'gamma':['scale', 'auto']}

grid=GridSearchCV(SVR(),param_grid,n_jobs=-1,refit=True,verbose=3)

grid.fit(independent,dependent)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

In [ ]:
grid

In [ ]:
grid.fit(independent,dependent)

In [ ]:
re=grid.cv_results_

In [ ]:
print(grid.best_params_)

In [ ]:
table=pd.DataForm.from_dict(re)